@charset "UTF-8";
@font-face {
	font-family: 'FB';
	src: url("../font/AGENCYB.ttf");
} 


html, body {
	background-color: #9e3736;
	font-family: FB;   
	margin: 0px auto 0px auto;
	height: 100%;
	width: 100%;
}

.container {
	width: 1200px;
	margin: 0 auto;
}

.picture {
	list-style: none;
}

.picture img {
	max-width: 100%;
}

.search-form {
	float: right;
    padding: 15px 0px;
}

.search-li {
	list-style: none;
}

.search {
	background-color: #760e0d;
	border: 5px solid #760e0d;
}

.search:hover {
	background-color: #9e3736;
	border: 5px solid #9e3736;
	transition: .6s;
}

.search-li input {
	background-color: #facbb4;
	border: 6px solid #facbb4;
	position: relative;
	bottom: 5.5px;
	height: 22px;
	margin: auto -2px auto auto;
}

.list-menu {
	text-align: center;
}
.list-menu li {
	display: inline-block;
	list-style: none;
}

.list-menu a {
	text-decoration: none;
	color: #facbb4;
	font-size: 35px;
	padding: 20px;
}

.list-menu a:hover {
	color: #760e0d;
	transition: .6s;
}

fieldset {
    background-color: white;
    margin-top: 25px;
    position: relative;
}

fieldset legend{
	background-color: #7f2423;
	padding: 10px 150px;
	font-size: 22px;
	text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
	color: #facbb4;
}

fieldset legend.right {
    position: absolute;
    top: 0;
    right: 15px;
}

.form-input {
    margin-bottom: 5px;
}

.form-submit{
	padding-left: 113px;
}

.form-input label {
    min-width: 100px;
    display: inline-block;
    text-align: right;
    vertical-align: top;
}

label {
    margin-right: 10px;
}

input,
textarea {
    padding: 6px 10px;
    border: 1px solid #ccc;
    border-radius: 2px;
    margin-right: 10px;
    transition: all .5s ease;
    font-size: 14px;
}

input:focus,input:active,
textarea:focus,textarea:active {
    outline: 0;
    box-shadow: 0 0 5px rgb(127, 36, 35);
}

table {
    width: 100%;
    border-collapse: collapse;
}

table thead th {
    border-bottom: 2px solid #ccc;
    padding: 6px;
    text-align: left;
}

table td {
    border-bottom: 1px solid #eee;
    padding: 7px 6px;
}

.button {
	cursor: pointer;
    text-decoration: none;
    color: #fff;
    background-image: linear-gradient(to top, #803e3d, #9e3736);
    padding: 3px 20px;
    border-radius: 3px;
    border: 1px solid #9e3736;
}

.button:hover {
    background-image: linear-gradient(to top, #7e4343, #8a3332);
}

.button.success {
    background-image: linear-gradient(to top, #4CAF50, #8BC34A);
    border-color: #5dab34;
}

.button.success:hover {
    background-image: linear-gradient(to top, #36b13b, #80ca2b);
    border-color: #4e8e2d;
}